@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
.loginPart{
  background-color: black;
}
.loginpage {
  display: flex;
  margin: 5px auto;
  flex-direction: row;
}
.img img {
  width: 40vw;
  height: 100vh;
}
form {
  background-color: black;
  color: white;
  width: 50vw;
  padding-left: 150px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding-top: 15px;
}
.email,
.pw {
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  padding-top: 30px;
  padding-left: 2px;
}
.email .text,
.pw .text {
  padding-bottom: 10px;
  font-size: 18px;
}
/* .pw .box {
  display: flex;
} */
.checkbox {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}
.signin {
  padding: 8px;
  background-color: #1c3bec;
  display: block;
  width: 58%;
  color: white;
  border: 2px solid #1c3bec;
  position: relative;
  margin: 20px 0px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  font-size: 18px;
}
.signin:hover {
  border-color: rgb(27, 39, 94);
}
.signup p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.signup {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}
.signup .su:hover {
  text-decoration: underline;
  color: rgb(228, 228, 241);
  cursor: pointer;
}
.btn {
  width: 58%;
  border: 1px solid rgb(34, 34, 168);
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
}
.btn:hover {
  border-color: rgb(59, 59, 236);
  background-color: rgb(15, 15, 15);
  cursor: pointer;
} 
.btn img {
  width: 7%;
  height: 7%;
  position: relative;
  top: 5px;
}
.btn .text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}
.or {
  display: block;
  width: 100%;
  margin: 7px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.or .txt {
  display: inline-block;
  padding: 9px;
}
.or .line1,
.line2 {
  width: 200px;
  height: 0.5px;
  background-color: #455de4;
  display: inline-block;
}
.checkbox .forgotpw {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 60px;
  text-decoration: underline;
}
.forgotpw:hover {
  color: rgb(197, 185, 185);
  cursor: pointer;
}
